<header class="bg-white shadow-md py-7 mb-5 p-5">
  <section class="container flex flex-wrap items-center">
    <img [ngSrc]="'/logo.svg'" width="202" height="40" alt="Logo Ipsum" />

    <section class="flex-1">
      <nav class="flex flex-wrap items-center justify-end gap-x-5">
        <button>
          <img [ngSrc]="'/bell.svg'" alt="Bildirimler" width="40" height="40" />
        </button>

        <button>
          <img [ngSrc]="'/user.svg'" alt="Bildirimler" width="40" height="40" />
        </button>

        <button>
          <img [ngSrc]="'/menu.svg'" alt="Bildirimler" width="40" height="40" />
        </button>
      </nav>
    </section>
  </section>
</header>
